.back-button {
	width: 100%;
	color: rgb(var(--black));
	position: fixed;
	top: 0;
	z-index: 10;

	div {
		padding: 1.5rem 1.5rem;
		width: clamp(20rem, 100%, 64rem);
		margin: 0 auto;
		display: flex;
		align-items: center;
		gap: 1rem;
		isolation: isolate;

		&::before {
			content: '';
			background-image: linear-gradient(
				to bottom,
				rgb(var(--white)) 50%,
				transparent 100%
			);
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: -1;
		}
	}

	button {
		padding: 0.25em;
		color: inherit;
		font: inherit;
		background-color: transparent;
		border: none;
		transition: opacity 300ms ease-in-out;
		cursor: pointer;

		&:hover {
			opacity: 0.4;
		}
	}

	span {
		font-family: 'Oswald', sans-serif;
		font-size: var(--fz-500);
		font-weight: 600;
	}
}

.nav {
	width: 100%;
	max-height: 100vh;
	max-height: 100svh;
	font-family: 'Oswald', sans-serif;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	overflow: hidden;
	transition: opacity 550ms ease-in-out;

	&::-webkit-scrollbar {
		width: 0.5rem;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background: rgba(var(--primary-color) / 0.875);
	}
}

.nav.show {
	min-height: 100vh;
	min-height: 100svh;
	overflow-y: scroll;
	opacity: 1;
	transition-delay: 500ms;
}

.links-wrapper {
	width: clamp(20rem, 100%, 64rem);
	margin: 0 auto;
	padding-block: clamp(4rem, 15vh, 30rem);
	padding-inline-start: 6rem;
}

.links {
	& > button {
		width: 100%;
		padding: 1em 0.5em;
		color: inherit;
		font: inherit;
		font-size: var(--fz-700);
		font-weight: 600;
		text-align: left;
		line-height: 1;
		background-color: transparent;
		border: none;
		display: block;
		transition: opacity 0.8s;
		cursor: pointer;
	}

	&:hover > button {
		opacity: 0.4;
	}

	& > button:hover {
		opacity: 1;
	}
}

.backImage {
	background-image: radial-gradient(
		rgba(var(--primary-color) / 0.425) 9%,
		transparent 9%,
		transparent 100%
	);
	background-position: 0% 0%;
	background-size: 11vmin 11vmin;
	position: fixed;
	inset: 0;
	z-index: -1;
	transition: opacity 0.8s, background 0.8s;
}

.links:hover + .backImage {
	background-size: 10vmin 10vmin;
	opacity: 0.625;
}

.backImage[data-imageindex='0'] {
	background-position: 0% -0%;
}

.backImage[data-imageindex='1'] {
	background-position: 0% -20%;
}

.backImage[data-imageindex='2'] {
	background-position: 0% -40%;
}

.backImage[data-imageindex='3'] {
	background-position: 0% -60%;
}

// Page
.page {
	width: 100%;
	height: 100vh;
	color: rgb(var(--black));
	background-color: rgb(var(--white));
	position: fixed;
	top: 0;
	left: 0;
	translate: 0 100%;
	overflow-y: scroll;
	z-index: 3;
	transition: translate 550ms ease-in-out;

	&::-webkit-scrollbar {
		width: 0.5rem;
	}

	&::-webkit-scrollbar-track {
		background: rgb(var(--gray) / 0.125);
	}

	&::-webkit-scrollbar-thumb {
		background: rgba(var(--primary-color) / 0.875);
	}
}
.page.show {
	translate: 0 0;
	transition-delay: 500ms;
}

.page-content {
	width: clamp(20rem, 100%, 64rem);
	margin: 0 auto;
	padding-inline: 1.5rem;
}

.page-content > * {
	padding-block-start: 10rem;
}

#hero {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3rem;

	& > * {
		flex: 1 1 0;
	}
}

.left {
	div:first-child {
		display: flex;
		flex-direction: column;

		& > span {
			font-family: 'Oswald', sans-serif;
			line-height: 1;

			&:nth-child(1) {
				font-size: var(--fz-500);
				font-weight: 600;
			}
			&:nth-child(2) {
				color: rgba(var(--primary-color));
				font-size: var(--fz-500);
				font-weight: 600;
			}
			&:nth-child(3) {
				margin-block-start: 0.125em;
				font-size: var(--fz-900);
				font-weight: 700;
			}
			&:nth-child(4) {
				margin-inline-end: 1em;
				font-size: var(--fz-900);
				font-weight: 700;
				align-self: end;
			}
		}
	}

	p {
		margin-block-start: 1.5em;
		color: rgb(var(--gray) / 0.875);
		line-height: 1.4;
	}

	.button {
		margin-block-start: 1.5rem;

		a {
			max-width: max-content;
			padding: 0.5em 1.25em;
			color: inherit;
			font: inherit;
			font-size: var(--fz-500);
			text-decoration: none;
			background-color: transparent;
			border: 0.125rem solid rgba(var(--primary-color) / 0.375);
			border-radius: 0.375rem;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 0.75rem;
			transition: background-color 220ms ease-in-out, color 220ms ease-in-out;
			cursor: pointer;

			&:hover {
				color: rgba(var(--primary-color));
				background-color: rgba(var(--primary-color) / 0.125);
			}
		}
	}
}

.right img {
	max-width: 80%;
	margin-inline: auto;
	border: 0.25rem solid rgba(var(--primary-color));
	border-radius: 50%;
}

.tray {
	margin-block-start: 3rem;
	max-width: 100%;
	position: relative;
	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		inset: 0rem;
		background-image: linear-gradient(
			to right,
			white,
			transparent 16%,
			transparent 84%,
			white
		);
		z-index: 1;
	}

	& > div {
		display: flex;
		align-items: center;
		gap: 3rem;
		animation: slide 120s linear infinite;
	}

	.skill svg {
		width: 8rem;
		height: 8rem;
	}
}

@keyframes slide {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0%);
	}
}

.things {
	margin-block-start: 3rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	& > div {
		padding: 2rem;
		flex: 0 1 50%;
	}

	p:nth-of-type(1) {
		margin-block-start: 0.5em;
		color: rgba(var(--primary-color));
		font-size: 1.125rem;
	}

	p:nth-of-type(2) {
		margin-block-start: 0.5em;
		color: rgb(var(--gray) / 0.875);
		font-size: 1rem;
		line-height: 1.4;
	}
}

.sites {
	margin-block-start: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.image {
	height: 30rem;
	position: relative;
	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(to bottom, transparent 84%, rgb(var(--white)));
		z-index: 1;
	}

	img {
		width: 100%;
		object-fit: cover;
	}
}

.sites span {
	display: block;
	line-height: 1;
}
.sites span:nth-of-type(1) {
	margin-block-start: 0.75em;
	font-size: var(--fz-500);
	font-weight: 700;
}
.sites span:nth-of-type(2) {
	font-family: 'Oswald', sans-serif;
	color: rgb(var(--gray) / 0.875);
}

.form {
	margin-block-start: 3rem;
}

.form-group {
	max-width: 80%;
	margin-inline: auto;
	display: flex;
	justify-content: center;
	align-items: stretch;
	gap: 0.5rem;

	input {
		width: 100%;
		padding-inline: 0.875rem;
		font: inherit;
		background-color: rgba(var(--gray) / 0.125);
		border: none;
		border-radius: 0.375rem;
		flex: 1 1 0;

		&:focus-visible {
			outline: 0.125rem solid rgba(var(--primary-color));
		}
	}

	button {
		padding: 0.375em 1em 0.5em;
		font: inherit;
		font-family: 'Oswald', sans-serif;
		font-size: var(--fz-500);
		background-color: rgba(var(--primary-color) / 0.25);
		border: none;
		border-radius: 0.375rem;
		flex: 0 1 25%;
		transition: background-color 220ms ease-in-out;
		cursor: pointer;

		&:hover {
			background-color: rgba(var(--primary-color) / 0.5);
		}
	}
}

footer {
	margin-block-start: 6rem;
	background-color: rgb(var(--gray) / 0.125);
}

.footer {
	width: clapm(20rem, 100%, 64rem);
	padding-block: 3rem;
	min-height: 40vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;

	h2 {
		font-family: 'Oswald', sans-serif;
		font-size: var(--fz-800);
	}

	div {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1.5rem;

		&:nth-of-type(1) {
			margin-block: 0.75rem;
		}
	}

	span {
		cursor: pointer;
	}
}

@media (max-width: 42em) {
	.para.para {
		max-width: 100%;
	}

	.links-wrapper {
		padding-inline-start: 3rem;
	}

	#hero {
		flex-direction: column-reverse;
		gap: 1rem;

		& > * {
			flex: 1 1 0;
		}

		span {
			align-self: start;
		}

		.right img {
			max-width: 60%;
		}
	}

	.tray {
		& > div {
			gap: 2rem;
		}

		.skill svg {
			width: 4.5rem;
			height: 4.5rem;
		}
	}

	.things > div {
		flex: 0 1 80%;
	}

	.sites div:last-child {
		display: none;
	}

	.image {
		height: 20rem;
	}
}
